<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>the blog spot</title>
</head>
<body>
  <div id="admin" class="content">
    <h1>Posting on the fatest growing blog account!!</h1>
    <div class="heading">
      <h2>what is this post about?</h2>
    </div>
    <div class="add">
      <div class="form">
        <input v-model="title" placeholder="Post Title">
        <br />
        <br />
        <textarea v-model="description" placeholder="Enter post description"></textarea>
        <p></p>
        <button @click="upload">Post</button>
      </div>
      <div class="upload" v-if="addPost">
        <h2>Thanks for posting!!</h2>
        <br>
        <a href="/index.html">Return to posts</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <a href="/index.html">back to the posts</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/makeapost.js"></script>
</body>

</html>
