body {
  font-family: monospace;
  font-size: 16px;
  background: powderblue;
}

.background {
  background-color: powderblue;
}

.footer2 {
	background-color: #1113;
  position: relative;
  z-index: 2000;
	color: white;
	padding: 15px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	position: fixed;
  text-align: center;
}

h2 {
  text-align: center;
}

.header {
  display: flex;
  padding: 20px 100px 0px 100px;
  background-color: lightgrey;
  color: #fff;
}

.title {
  margin-top: 10px;
}

.gallery {
  text-align: center;
}

.footer {
  padding: 20px 100px 0px 100px;
  text-align: center;
}

.content {
  padding: 20px 100px 0px 100px;
}

/* Admin */
.heading {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.heading h2 {
  margin: 0px;
  margin-left: 10px;
}

.add, .edit {
  display: flex;
}

input, textarea, select, button {
  font-family: serif;
  font-size: 1em;
}

.form {
  margin-right: 50px;
}

.suggestions {
  width: 200px;
  border: 1px solid #ccc;
}

.suggestion {
  min-height: 20px;
}

.suggestion:hover {
  background-color: #5BDEFF;
  color: #fff;
}

html {
  box-sizing: border-box;
}

h1, .heading {
  text-align: center;
}
